body{
  font-family: 'Raleway', sans-serif;
  background-color: black;
  color: gainsboro;
}

.image{
  width:50px;
  cursor: pointer;

}

.nav-items {
  display:flex;
  list-style: none;
  cursor: pointer;
 
}

.nav-items >li {
  padding: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  display: contents;
}